<!DOCTYPE html>
<html lang="en">

<head>
  <%= liquid_render "head", metadata: site.metadata, page_title: page.data["title"] %>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= liquid_render "navbar", metadata: site.metadata, page: page %>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <%= yield %>
  </div>
 
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <%= liquid_render "footer", metadata: site.metadata %>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">

</body>
</html>
