---
layout: default
---

<!-- Title -->
<h1 class="mt-4"><%= page.data[:title] %></h1>
<hr>

<!-- Preview Image -->
<img class="img-fluid rounded" src="https://picsum.photos/900/300" alt="">

<!-- Post Content -->
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Ingredients</h3>
    <%= listify layout.data[:list] %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">Method</h3>
    <%= yield %>
  </div>
</div>
