---
layout: default
---

<!-- Title -->
<h1><%= page.data[:title] %></h1>

<div class="row">
  <% if page.data["image"] %>
    <div class="col-12 ratio ratio-21x9">
      <!-- Preview Image -->
      <img style="object-fit: cover;" class="img-fluid rounded pb-4 mx-auto w-100" src="<%= page.data["image"] %>" alt="">
    </div>
  <% else %>
    <hr/>
  <% end %>

  <!-- Ingredients -->
  <% if page.data[:cook_json] %>
    <div class="col-lg-5 order-lg-last mb-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ingredients</h3>
          <%= render "ingredients", items: page.data[:cook_json]['ingredients'] %>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Method Column -->
  <div class="col-lg-7">
    <h3 class="card-title">Method</h3>
    <%= yield %>
  </div>
</div>
