---
layout: default
---

<h1 class="mt-4">Recipe Book</h1>

<div class="row">
  <% %w[breakfast lunch dinner dessert appetizer side].each do |category| %>
    <div class="col-6 col-lg-4">
      <a href="/<%= category %>/">
        <div class="card my-2">
          <div class="card-img-top ratio ratio-4x3">
            <img style="object-fit: cover;" src="/images/category-<%= category %>-EXT.webp" alt="">
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">
              <%= category.titleize %>
            </h4>
          </div>
        </div>
      </a>
    </div>  
  <% end %>
</div>
