<a class="navbar-brand" href="/"><%= metadata.title %></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <% %w[breakfast lunch dinner dessert appetizer side].each do |category| %>
      <% active = (page.data["title"] == "#{category.titleize} Recipes") || (page.data['category'] == category) %>
      <li class="nav-item">
        <a class="nav-link <%= "active" if active %>" href="/<%= category %>/"><%= category.titleize %></a>
      </li>
    <% end %>
  </ul>
</div>
